[Unit]
Description=kmonad keychron q4 keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/kmonad /home/huen/.config/kmonad/keychron-q4.kbd
Nice=-20

[Install]
WantedBy=default.target
