[Unit]
Description=KMonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/kmonad /home/huen/.config/kmonad/laptop.kbd
Nice=-20

[Install]
WantedBy=default.target
